@font-face *{
 	  font-family: thaisanslite_r1 Vera Serif Bold; 
		
	 src: url(/css/font/WDB_Bangna.ttf) format("truetype");  
	    src: url('font/WDB_Bangna.ttf?#iefix') format('embedded-opentype'); /* IE6-IE8 */
    }
    #header{ 
	    
		z-index:5000;
		font-family: thaisanslite_r1 Vera Serif Bold,Serif;
		text-align:left;
		color:#FFFFFF;
		font-weight:bold;
		text-shadow:1px 1px 1px #8F8F8F;
		position:fixed;

		height:70px;
		width:100.5%;
		min-width:1100px;
		background-color:#58A4EB;
		box-shadow:0px 0px 2px 2px #868686;
		display: inline;
		margin-left:-10px;
		text-wrap:none;
		white-space: nowrap;

	 }

	 #header .p{ 
	 	font-family: thaisanslite_r1 Vera Serif Bold,Serif;
		margin-top:5px;
		
	 	font-size:30px;	
		margin-left:10px;
		width:65%;
		min-width:200px;
		float:left;
	
		text-wrap:none;
		white-space: nowrap;
	 }

      
	  
	 #header .img{
		 display: inline;
		 margin-left:-50px;
		 padding:10;
		 width:200px;
		
		
	 }
	 
	 #logo1{
		 width:150px;
		 min-height:50px;
		display:block;
		float:left;
		display: inline;
		text-wrap:none;
		white-space: nowrap;
		margin-left:10px;
	 }
	 .logindata img{
		float:left;
	 }
	 .logindata p{
			display: inline;
		 margin-top:-25px;
	
	 }
	 .logindata	  li.textlog{
		 
			margin-top:1px;
			padding:4px;
			margin-bottom:-10px;
			border-radius:2px;
			list-style:none;
			padding-left:10px;
			background-color:#DAE7FF;
			color:#000000;
			text-shadow:2px 2px 2px #EBEBEB;
			box-shadow:1px 1px 3px #D3D3D3;
		
	
	 }
	ul.dropdownAcou{
        padding: 0;
		
        list-style: none;
		margin-top:-10px;
		-webkit-transition: all ease-in-out 0.2s;
		transition: all ease-in-out 0.2s; 
		margin-left:30px;
    }
	
    ul.dropdownAcou li{
		width:60px;
        float: left;
        text-align: center;
        line-height: 30px;
		-webkit-transition: all ease-in-out 0.2s;
		transition: all ease-in-out 0.2s;
    }
    ul.dropdownAcou li a{
        display: block;
        padding: 5px 10px;
        color: #323232;
		border-radius:5px;
		background-color:#E9E9E9;
      	width:160px;
        text-decoration: none;
		-webkit-transition: all ease-in-out 0.2s;
		transition: all ease-in-out 0.2s;
    }
	 ul.dropdownAcou #headicon img{
		 margin-top:5px;
		background-color:transparent;
		
		-webkit-transition: all ease-in-out 2s;
		transition: all ease-in-out 2s;
		
	}
	ul.dropdownAcou #headicon img:hover{
	
		
		transform: rotate(350deg);
		
	}
	
	 ul.dropdownAcou #headicon{
	 	background:none;
		-webkit-transition: all ease-in-out 0.2s;
		transition: all ease-in-out 0.2s;
	 }
    ul.dropdownAcou li a:hover{
        color: #fff;
        background: #40A7BC;
    }
    ul.dropdownAcou li ul{
       
		-webkit-transition: all ease-in-out 0.2s;
		transition: all ease-in-out 0.2s; 
		display: none;
    }
    ul.dropdownAcou li:hover ul{
        display: block; /* display the dropdown */
    }
	.logindata{
		text-wrap:none;
		white-space: nowrap;
		position:fixed;
		margin-left:80%;
		min-width:300px;
		max-width:300px;
		margin-right:0px;
		margin-top:0px;
		float:right;
		height:70px;
		width:450px;
		
		background: #58a4eb; /* Old browsers */
background: -moz-linear-gradient(left,  #58a4eb 18%, #a9c2d8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(18%,#58a4eb), color-stop(100%,#a9c2d8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #58a4eb 18%,#a9c2d8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #58a4eb 18%,#a9c2d8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #58a4eb 18%,#a9c2d8 100%); /* IE10+ */
background: linear-gradient(to right,  #58a4eb 18%,#a9c2d8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58a4eb', endColorstr='#a9c2d8',GradientType=1 ); /* IE6-9 */

			color:#FFFFFF;

	}
	 @-moz-document url-prefix() {
                        .logindata{
                       margin-top:-15px;
                    }
					#header .p{
		
		 margin-top:-16px;
	
	 }
      }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .logindata{margin-top:-15px;} 
}
