@font-face {
 	  font-family: thaisanslite_r1 Vera Serif Bold; 
		
	 src: url(/css/font/WDB_Bangna.ttf) format("truetype");  
	    src: url('font/WDB_Bangna.ttf?#iefix') format('embedded-opentype'); /* IE6-IE8 */
    }
    #header{ 
	    
		z-index:1000;
		font-family: thaisanslite_r1 Vera Serif Bold,Serif;
		text-align:left;
		color:#FFFFFF;
		font-weight:bold;
		text-shadow:1px 1px 1px #8F8F8F;
		position:fixed;
		display:block;
		height:70px;
		width:100%;
		min-width:1000px;
		background-color:#58A4EB;
		box-shadow:0px 0px 2px 2px #868686;
		display: inline;
	
		text-wrap:none;
		white-space: nowrap;

	 }

	 #header .p{ 
	 	font-family: thaisanslite_r1 Vera Serif Bold,Serif;
		margin-top:5px;
		
	 	font-size:30px;	
		margin-left:10px;
		width:65%;
		min-width:200px;
		float:left;
	
		text-wrap:none;
		white-space: nowrap;
	 }
	 @-moz-document url-prefix() {
                        #header .p{
                       margin-top:-11px;
                    }
      }
	 #header .img{
		 display: inline;
		 margin-left:-50px;
		 padding:10;
		 width:200px;
		
		
	 }
	 
	 #logo1{
		 width:150px;
		 min-height:50px;
		display:block;
		float:left;
		display: inline;
		text-wrap:none;
		white-space: nowrap;
		margin-left:10px;
	 }
	 .logindata img{
		float:left;
	 }
	.logindata{
		display: inline;

		display: inline;
		padding:12px;

			float:right;
			text-align:right;
			height:*;
			width:auto;
			background: #58a4eb; /* Old browsers */
background: -moz-linear-gradient(left,  #58a4eb 18%, #a9c2d8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(18%,#58a4eb), color-stop(100%,#a9c2d8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #58a4eb 18%,#a9c2d8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #58a4eb 18%,#a9c2d8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #58a4eb 18%,#a9c2d8 100%); /* IE10+ */
background: linear-gradient(to right,  #58a4eb 18%,#a9c2d8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58a4eb', endColorstr='#a9c2d8',GradientType=1 ); /* IE6-9 */

			color:#FFFFFF;

	}
	 @-moz-document url-prefix() {
                        .logindata{
                       margin-top:-12px;
                    }
      }